<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xujiaji.mk.user.mapper.MkAppVersionMapper">

    <select id="selectCurrentVersion" resultType="com.github.xujiaji.mk.user.entity.MkAppVersion">
        SELECT * FROM mk_app_version ORDER BY version_code DESC LIMIT 1
    </select>
</mapper>
