<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xujiaji.mk.file.mapper.MkFileMapper">

    <select id="getPathById" resultType="java.lang.String">
        SELECT path FROM mk_file WHERE id = ${fileId} AND state = 0
    </select>

    <select id="selectByPath" resultType="com.github.xujiaji.mk.file.entity.MkFile">
        SELECT * FROM mk_file WHERE path = #{path}
    </select>
</mapper>
