<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xujiaji.mk.common.mapper.MkCommonMapper">

    <select id="getConfigValueByKey" resultType="java.lang.String">
        SELECT config_value FROM mk_common WHERE config_key = #{key}
    </select>

    <select id="selectEntitiesByKeys" resultType="com.github.xujiaji.mk.common.entity.MkCommon">
        SELECT * FROM mk_common WHERE config_key IN
        <foreach collection="keys" item="key" separator="," open="(" close=")">
            #{key}
        </foreach>
    </select>
</mapper>
