<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xujiaji.mk.security.mapper.MkSecUserMapper">

    <select id="selectUserPage" resultType="com.github.xujiaji.mk.security.dto.MkSecUserDTO">
        SELECT * FROM mk_sec_user
    </select>
</mapper>
